language: python
python:
  - "2.7"
install:
  - pip install -r requirements.txt
script: python test_mpass.py
addons:
  sauce_connect: true
notifications:
  slack:
    secure: ljdL9YSDfATS2zsBX8tKy9yjm+262DpIqcubuoG5rhR9e2JWVYnNNeLXsDBO5I/E7pQdnI6DINQGNRgosboOtR/gi3f8+lSermHRoMjd6S4/YYIvccjnbs8xR8ge+VMezPzc5S3qFAn4hrWCW3Av6VpHkT1oC2pdlTXlA6MK9Tukc6ROHwZ6HvBbDFhX4na2edDsavlyMLgYOOXMg1g6AACyhkm54aRmWuUtEIUTI07PO3mKkgM2doo9i3WwOoXOeRcsaKg9xO1tGzhP2buMT9D5Z62gCFYgxc6wkhYApZ02YbUYSlVD/1s5vE2lnVRTnsUGOEEUKXTwsaZAFHScx2lAWOIUQF5Y9ydKn8LiZ2HJf/Imtmo29c5RPwUPagg28cz2GHBKplwbALYxfEMBsyhRQm8VxAFhEVecc/LAFbl9e0QfaeEQXCTHnBKUvKMCNRSLI0U4mpFKgQj+JUwDm8tKnAD/SOeOXZFln9ltIlUK/igASeCBNVzcI+7GQHRsp/iwJcMmoYBKfaeNSRBXL8GVfoqU6hZQm7E7z3BOjnKJMbtxgL7fdmL49fOA2CUAnxnB8yH4uVsN45BWCzaPuVi5yTzaVx7s2t70NDLflNZdtRrJvSC5NWJo+56+7woXgMmYDBzR/Qka3OP8XDxj9omoSdKw3o5InUa9S3mnHUA=
